/* Tablet view */
@media all and (min-width: 460px) and (max-width: 900px) {
  nav {
    flex-direction: column;
  }

  header nav .header-ul {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 185px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .project-title-img {
    width: 75% !important;
  }

  .fa-bars {
    font-size: 25px;
    display: block !important;
    margin-left: 30px;
  }

  .activities-dropdown-menu {
    width: 200px;
    display: block;
    right: -35px;
    max-width: 150% !important;
  }

  .page-view article.card {
    flex-direction: column;
  }

  .activities-boxes-holder {
    flex-direction: column;
    align-items: stretch !important;
  }

  .activities-boxes-holder .activity-box-link {
    margin: 20px 0px;
  }

  .activities-boxes-holder .activity-box-link img {
    height: 145px;
  }

  .card .text-holder {
    margin: 0;
  }

  .card-img {
    margin: 25px 0px !important;
    width: 100% !important;
  }

  .card:nth-child(3) {
    flex-direction: column-reverse !important;
  }

  .activity-gallery-ul li {
    flex-basis: unset !important;
  }

  .project-logos-parent .gallery-ul,
  .img-gallery .activity-gallery-ul,
  .gallery-ul {
    flex-direction: column !important;
  }
}

/* Phone view */
@media all and (min-width: 380px) and (max-width: 460px) {
  nav {
    flex-direction: column;
  }

  header nav .header-ul {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .project-title-img {
    width: 75% !important;
  }

  .fa-bars {
    font-size: 25px;
    display: block !important;
    margin-left: 30px;
  }

  .activities-dropdown-menu {
    width: 200px;
    display: block;
    right: -35px;
    max-width: 150% !important;
  }

  .page-view article.card {
    flex-direction: column;
  }

  .activities-boxes-holder {
    flex-direction: column;
    align-items: stretch !important;
  }

  .activities-boxes-holder .activity-box-link {
    margin: 20px 0px;
  }

  .activities-boxes-holder .activity-box-link img {
    height: 145px;
  }

  .card .text-holder {
    margin: 0;
  }

  .card-img {
    margin: 25px 0px !important;
    width: 100% !important;
  }

  .card:nth-child(3) {
    flex-direction: column-reverse !important;
  }

  .activity-gallery-ul li {
    flex-basis: unset !important;
    width: 100%;
  }

  .project-logos-parent .gallery-ul,
  .img-gallery .activity-gallery-ul,
  .gallery-ul {
    flex-direction: column !important;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
