@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bg-blue-gradient {
  background: linear-gradient(
    169deg,
    rgba(68, 179, 226, 1) 16%,
    rgba(94, 129, 207, 1) 55%
  );

  max-width: 100%;
}

label.logo {
  color: cornsilk;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 20px;
}
.logo-holder {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-ul {
  height: 60px;
  margin-right: 50px;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0px 20px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}
header a.active,
header a:hover,
footer a.active,
footer a:hover {
  color: #44b3e2;
  color: rgb(53, 53, 52);
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.activities-dropdown-menu {
  display: none;
}

.activities-dropdown-menu {
  position: absolute;
  right: 10px;
}
.activities-dropdown-menu li {
  display: block;
}
.partners-dropdown-menu {
  display: none;
}

.partners-dropdown-menu {
  position: absolute;
  right: 10px;
}
.partners-dropdown-menu li {
  display: block;
}

.rounded-edges {
  border-radius: 12px;
}
.font-border {
  text-shadow: 0 0 2px #000000, 0 0 3px #000000;
}
img {
  width: 100%;
  object-fit: cover;
}
.logo-img {
  width: 55px;
  border-radius: 50%;
  box-shadow: -1px 1px 10px 3px rgba(0, 0, 0, 0.23);
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 70px;
  left: 0;
}
.copyright img {
  width: 30%;
}
